/* Navbar */
.header {
  background-color: #f7ede8;
  padding: 1rem;
  width: 100%;
  position: relative;
}

.navbar .nav-left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-left .nav-logo {
  width: 7.5rem;
  height: 7.5rem;
}

.menu-list {
  display: flex;
  padding: 0;
}
.menu-link {
  color: #000;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 3rem;
  text-decoration: none;
  transition: all 0.2s;
}
.menu-link:hover {
  color: #cd4631;
}

.nav-right {
  display: none;
}
@media (min-width: 992px) {
  .nav-right {
    display: flex;
  }
}
.nav-right .btn-recent {
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border: 0.15rem solid #000;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-right: 10px;
  transition: all 0.2s;
}
.nav-right .btn-recent:hover {
  background-color: #000;
  color: #fff;
}

.btn-subscribe {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: 0.25rem 0.25rem #b9b2ae;
  transition: all 0.3s;
}
.btn-subscribe:hover {
  background-color: #cd4631;
  color: #fff;
  border-color: #cd4631;
  box-shadow: none;
  transform: translateY(0.1rem) translateX(0.1rem);
}

/* Header */
.header-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-text-content .header-title {
  font-weight: bold;
  font-size: 3.65rem;
}
@media (min-width: 1200px) {
  .header-text-content .header-title {
    font-size: 6rem;
  }
}
.header-text-content .header-title-red {
  color: #cd4631;
}

.btn-header, .section-prefooter .btn-block .btn-prefooter, .become-wrapper-card-top .become-price-block .btn-become, .btn-episodes, .btn-articles, .btn-section-three {
  width: 15rem;
  height: 4rem;
  font-size: 1.4rem;
  box-shadow: 0.25rem 0.25rem #b9b2ae;
  background-color: #000;
  border-radius: 0.5rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  align-self: center;
  margin: 3rem 0;
}
@media (min-width: 1200px) {
  .btn-header, .section-prefooter .btn-block .btn-prefooter, .become-wrapper-card-top .become-price-block .btn-become, .btn-episodes, .btn-articles, .btn-section-three {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }
}
.btn-header:hover, .section-prefooter .btn-block .btn-prefooter:hover, .become-wrapper-card-top .become-price-block .btn-become:hover, .btn-episodes:hover, .btn-articles:hover, .btn-section-three:hover {
  background-color: #cd4631;
  border-color: #cd4631;
  color: #fff;
  box-shadow: none;
  transform: translateY(0.1rem) translateX(0.1rem);
}

.header-undertitle, .section-prefooter-undertitle, .section-articles-undertitle, .section-five-undertitle, .section-episodes-undertitle, .section-three-undertitle, .section-two-undertitle, .section-one-text {
  font-size: 1.2rem;
  width: 70%;
}
@media (min-width: 1200px) {
  .header-undertitle, .section-prefooter-undertitle, .section-articles-undertitle, .section-five-undertitle, .section-episodes-undertitle, .section-three-undertitle, .section-two-undertitle, .section-one-text {
    font-size: 1.6rem;
  }
}

/* Swirls */
.heroSwirl-left {
  position: absolute;
  top: 10rem;
  left: 0;
  width: 8rem;
  height: auto;
}

.heroSwirl-right {
  position: absolute;
  top: 20rem;
  right: 2%;
  width: 7rem;
  height: auto;
}

.heroSwirl-bottom {
  position: absolute;
  height: 8rem;
  bottom: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Cards wrapper */
.cards-wrapper {
  display: flex;
  overflow: scroll;
  margin: 2rem auto 6rem;
  user-select: none;
}
.cards-wrapper .header-card {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin-right: 1rem;
}
@media (min-width: 992px) {
  .cards-wrapper .header-card {
    width: 23rem;
    height: 23rem;
  }
}
@media (min-width: 1200px) {
  .cards-wrapper .header-card {
    width: 32rem;
    height: 32rem;
  }
}
.cards-wrapper .header-card-img {
  width: 15rem;
  height: 15rem;
}
@media (min-width: 992px) {
  .cards-wrapper .header-card-img {
    width: 23rem;
    height: 23rem;
  }
}
@media (min-width: 1200px) {
  .cards-wrapper .header-card-img {
    width: 32rem;
    height: 32rem;
  }
}
.cards-wrapper .header-card-platform {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
.cards-wrapper .header-card-platform i {
  color: #fff;
  padding-left: 0.5rem;
}
@media (min-width: 992px) {
  .cards-wrapper .header-card-platform i {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .cards-wrapper .header-card-platform i {
    font-size: 2.25rem;
  }
}
.cards-wrapper .header-card-platform i:hover {
  color: #81adc8;
}
.cards-wrapper .header-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #81adc8;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
@media (min-width: 992px) {
  .cards-wrapper .header-card-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .cards-wrapper .header-card-title {
    font-size: 2.25rem;
  }
}

/* supported */
.supported {
  max-width: 100rem;
  border-top: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  margin: 5rem auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.supported-title {
  font-weight: bold;
  font-size: 2.25rem;
}
.supported-firm {
  padding-right: 6rem;
}
@media (min-width: 992px) {
  .supported {
    display: flex;
  }
}

.section-one {
  width: 100%;
  position: relative;
  padding: 0 2rem 5rem;
}
@media (min-width: 992px) {
  .section-one {
    padding: 0 5rem 5 rem;
  }
}
.section-one-title, .section-prefooter-title, .section-articles-title, .section-five-title, .section-episodes-title, .section-three-title, .section-two-title {
  font-size: 2.25rem;
  padding: 6rem 0 2rem;
  margin: 0 auto;
  font-weight: bold;
  max-width: 50rem;
}
@media (min-width: 992px) {
  .section-one-title, .section-prefooter-title, .section-articles-title, .section-five-title, .section-episodes-title, .section-three-title, .section-two-title {
    font-size: 3.65rem;
  }
}
.section-one-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .section-one-wrapper {
    flex-direction: row;
    margin-bottom: 5rem;
  }
}
.section-one-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-one-img {
  width: 20rem;
  height: 20rem;
  margin: 2rem 0;
}
/* quote */
.quote {
  margin: 3rem 10%;
  width: 80%;
  padding-bottom: 4rem;
  background-color: #f7ede8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.quote-sign {
  color: #cd4631;
  font-size: 3.65rem;
  padding: 2rem 0;
}
.quote-text {
  font-weight: bold;
  font-size: 1.6rem;
  width: 80%;
}
@media (min-width: 992px) {
  .quote-text {
    font-size: 2.25rem;
  }
}
.quote-author {
  justify-content: center;
  padding: 1.5rem 0;
}
@media (min-width: 992px) {
  .quote-author {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.quote-author .quote-avatar-box, .quote-author .quote-job-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .quote-author .quote-avatar-box, .quote-author .quote-job-box {
    flex-direction: row;
    height: 5rem;
  }
}
.quote-img {
  width: 5rem;
  height: 5rem;
}
.quote-job-img {
  width: 2rem;
  height: 2rem;
}
.quote-name {
  font-size: 1.2rem;
  margin: 0.5rem;
}
.quote-swirl-left {
  position: absolute;
  bottom: -1rem;
  left: -4rem;
  width: 8rem;
  height: auto;
}
.quote-swirl-right {
  position: absolute;
  top: -3rem;
  right: -2rem;
  width: 8rem;
  height: auto;
}
.quote-swirl-bottom, .feedback-swirl-bottom {
  position: absolute;
  bottom: -4rem;
  height: 8rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.section-two {
  background-color: #edf3f7;
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .section-two {
    padding: 0 5rem 5rem;
  }
}
.section-two-header {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.section-two-undertitle {
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.section-two .red-sparkle {
  position: absolute;
  top: 2rem;
  left: -2rem;
  width: 5rem;
  height: 5rem;
}
@media (min-width: 992px) {
  .section-two .red-sparkle {
    width: 10rem;
    height: 10rem;
    top: 2rem;
    left: -4rem;
  }
}

.feedback-wrapper {
  width: 100%;
  height: fit-content;
}
@media (min-width: 1200px) {
  .feedback-wrapper {
    width: 70%;
  }
}
.feedback-wrapper .feedback-box {
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
}
.feedback-wrapper .feedback-box .quote-sign {
  margin-left: 10%;
}
.feedback-wrapper .feedback-box .feedback-text, .feedback-wrapper .feedback-box .feedback-author {
  width: 80%;
  margin: 1rem auto 2rem;
  font-size: 1.4rem;
}
@media (min-width: 992px) {
  .feedback-wrapper .feedback-box .feedback-text, .feedback-wrapper .feedback-box .feedback-author {
    font-size: 2.25rem;
  }
}
.feedback-wrapper .feedback-box .feedback-author {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
@media (min-width: 768px) {
  .feedback-wrapper .feedback-box .feedback-author {
    flex-direction: row;
    justify-content: center;
  }
}
.feedback-wrapper .feedback-box .name-box, .feedback-wrapper .feedback-box .job-box {
  display: flex;
  align-items: center;
}

.prev-feedback, .next-feedback {
  height: 5rem;
  width: 5rem;
  border: 0.2rem solid #000;
  border-radius: 50%;
  margin: 5rem;
  transition: all 0.2s;
}
.prev-feedback:hover, .next-feedback:hover {
  color: #cd4631;
  border-color: #cd4631;
}

.swiper-slide {
  height: fit-content;
}

.swiper-button-prev,
.swiper-button-next {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #000;
  padding: 1.5rem;
  border-radius: 50%;
  transition: all 0.2s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border-color: #cd4631;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000;
  font-size: 1.6rem;
}

.section-three {
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .section-three {
    padding: 0 5rem 5rem;
  }
}
.section-three-header {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.section-three-undertitle {
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.section-three .black-scribble {
  position: absolute;
  top: -1rem;
  right: -6rem;
  width: 10rem;
  height: 10rem;
}

.benefits-wrapper {
  width: 80%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 2.5rem;
}

.benefit-title {
  font-weight: bold;
  font-size: 1.6rem;
}

.benefit-text {
  font-size: 1.4rem;
}

.sec-three-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-episodes {
  background-color: #f7ede8;
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .section-episodes {
    padding: 0 5rem 5rem;
  }
}
.section-episodes-undertitle {
  text-align: center;
  margin: 0 auto;
}

.episodes-wrapper {
  position: relative;
}
@media (min-width: 992px) {
  .episodes-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
.episodes-wrapper-card {
  width: 90%;
  height: auto;
  border: 0.15rem solid #000;
  border-radius: 1rem;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem 5%;
  transition: all 0.2s;
}
.episodes-wrapper-card:nth-child(even) {
  box-shadow: 1rem 1rem 0rem #81adc8;
}
.episodes-wrapper-card:nth-child(even) .card-title {
  color: #cd4631;
}
@media (min-width: 992px) {
  .episodes-wrapper-card:nth-child(even) .card-title {
    color: #000;
  }
}
@media (min-width: 768px) {
  .episodes-wrapper-card {
    display: flex;
    justify-content: space-between;
  }
  .episodes-wrapper-card:nth-child(even) {
    box-shadow: none;
  }
  .episodes-wrapper-card:hover {
    box-shadow: 1rem 1rem 0rem #81adc8;
  }
  .episodes-wrapper-card:hover .card-left img {
    transform: scale(110%);
  }
}
@media (min-width: 768px) {
  .episodes-wrapper-card .card-left {
    width: 37%;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .episodes-wrapper-card .card-left {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .episodes-wrapper-card .card-left {
    width: 35%;
  }
}
.episodes-wrapper-card .card-left img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  transition: all 0.2s;
}
@media (min-width: 768px) {
  .episodes-wrapper-card .card-right {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .episodes-wrapper-card .card-right {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .episodes-wrapper-card .card-right {
    width: 62%;
  }
}
.episodes-wrapper-card .card-right .text-wrapper .card-subtitle {
  color: #cd4631;
  font-weight: bold;
  font-size: 1.6rem;
}
.episodes-wrapper-card .card-right .text-wrapper .card-title {
  font-weight: bold;
  font-size: 2.25rem;
  margin: 0.5rem 0 1.5rem;
}
.episodes-wrapper-card .card-right .text-wrapper .card-text {
  font-size: 1.4rem;
}
.episodes-wrapper-card .card-right .hostedBy {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.episodes-wrapper-card .card-right .hostedBy .hosted-text {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 1rem 0 0;
}
.episodes-wrapper-card .card-right .hostedBy .avatar-box img:nth-child(2) {
  border: 0.4rem solid #fff;
  border-radius: 50%;
  margin-left: -1rem;
}

.key-words-box {
  display: flex;
}
.key-words-box .key-words {
  font-size: 1.2rem;
  border: 0.1rem solid #4d4d4d;
  border-radius: 0.4rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  transition: all 0.2s;
}
.key-words-box .key-words:hover {
  background-color: rgba(75, 75, 75, 0.1);
}

@media (min-width: 992px) {
  .episodes-wrapper-card:nth-child(2) .card-title,
.episodes-wrapper-card:nth-child(5) .card-title,
.episodes-wrapper-card:nth-child(6) .card-title {
    color: #cd4631;
  }
}

.episodes-swirl-top {
  height: 8rem;
  width: auto;
  padding: 0;
  position: absolute;
  top: -5rem;
  right: 0;
}
@media (min-width: 992px) {
  .episodes-swirl-top {
    height: 13rem;
    top: -6rem;
    right: -4rem;
  }
}

.btn-episodes, .btn-articles {
  padding: 0 2rem;
  width: fit-content;
  margin: 6rem auto 3rem;
  border: none;
}

.episodes-card-hide {
  display: none;
}

.show-episodes {
  display: flex;
}

.section-five {
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .section-five {
    padding: 0 5rem 5rem;
  }
}
.section-five-header {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.section-five-undertitle {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.section-five-red-sparkle {
  position: absolute;
  top: 2rem;
  left: -4rem;
  transform: rotate(-90deg);
}

.become-wrapper {
  position: relative;
}
@media (min-width: 992px) {
  .become-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin-top: 2rem;
  }
}
.become-wrapper-card {
  width: 90%;
  margin: 5%;
}
.become-wrapper-card-top {
  border: 0.15rem solid #000;
  border-radius: 0.5rem;
  padding: 5rem 4rem 4rem;
}
.become-wrapper-card-top-title {
  font-size: 3.65rem;
  font-weight: bold;
}
.become-wrapper-card-top-undertext {
  font-size: 1.4rem;
  margin-top: 2rem;
}
.become-wrapper-card-top .become-price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.become-wrapper-card-top .become-price-block .btn-become {
  width: 11rem;
  height: 3rem;
  font-size: 1.4rem;
  margin: 0;
}
.become-wrapper-card-bottom {
  border: 0.15rem solid #000;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 4rem;
}

.price-block .price {
  color: #cd4631;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}
.price-block .month {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.become-wrapper-card-top-title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  background-color: #cd4631;
  padding: 0.4rem;
  margin-left: 1rem;
  border-radius: 0.4rem;
  text-align: center;
}

.member-top, .member-bottom {
  background-color: #fff;
}

.family-top, .family-bottom {
  background-color: rgba(205, 70, 49, 0.1);
  border: 0.15rem solid #cd4631;
}

.official-bottom, .official-top {
  background-color: #fff;
}

.member-bottom, .family-bottom, .official-bottom {
  height: 18rem;
}

.section-five-star {
  width: 7rem;
  height: auto;
  position: absolute;
  top: -3rem;
  right: -1rem;
  z-index: -1;
}

.section-five-swirl {
  width: 7rem;
  height: auto;
  position: absolute;
  bottom: -3rem;
  left: -1rem;
  z-index: -1;
}

.section-articles {
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .section-articles {
    padding: 0 5rem 5rem;
  }
}
.section-articles-undertitle {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.articles-wrapper {
  position: relative;
  margin: 3rem 0 5rem;
}
@media (min-width: 992px) {
  .articles-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
.articles-wrapper-card {
  width: 90%;
  margin: 0 auto;
  border: 0.15rem solid #000;
  border-radius: 0.5rem;
  padding: 1.6rem;
  background-color: #fff;
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.articles-wrapper-card:hover {
  box-shadow: 1rem 1rem 0rem #000;
}
.articles-wrapper-card:hover .articles-title {
  color: #cd4631;
}
.articles-wrapper-card img {
  width: 100%;
  margin-bottom: 3rem;
}
.articles-wrapper-card .articles-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.articles-wrapper-card .articles-title {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 1rem 0 1.5rem;
  transition: all 0.3s;
}
.articles-wrapper-card .articles-bottom-box {
  display: flex;
  justify-content: space-between;
}

.section-articles-star {
  width: 12rem;
  height: auto;
  position: absolute;
  top: 10rem;
  left: -1.5rem;
  z-index: -1;
  transform: rotate(10deg);
}

.section-articles-swirl {
  width: 12rem;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 3rem;
  z-index: -1;
  transform: rotate(135deg);
}

.articles-card-hide {
  display: none;
}

.show {
  display: block;
}

.section-prefooter {
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
  background-color: #EDF3F7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .section-prefooter {
    padding: 0 5rem 10rem;
  }
}
.section-prefooter-title {
  padding-top: 0;
}
.section-prefooter-undertitle {
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.section-prefooter .prefooter-photo {
  max-width: 380px;
}
.section-prefooter .photo-left {
  position: absolute;
  top: 30%;
  left: -30rem;
}
@media (min-width: 576px) {
  .section-prefooter .photo-left {
    left: -25rem;
  }
}
@media (min-width: 992px) {
  .section-prefooter .photo-left {
    left: -20rem;
  }
}
@media (min-width: 1200px) {
  .section-prefooter .photo-left {
    left: -10rem;
  }
}
.section-prefooter .photo-right {
  position: absolute;
  top: 22%;
  right: -32rem;
}
@media (min-width: 576px) {
  .section-prefooter .photo-right {
    right: -25rem;
  }
}
@media (min-width: 992px) {
  .section-prefooter .photo-right {
    right: -20rem;
  }
}
@media (min-width: 1200px) {
  .section-prefooter .photo-right {
    right: -10rem;
  }
}
.section-prefooter .beta {
  color: #cd4631;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 1px solid #cd4631;
  padding: 0.3rem;
  border-radius: 0.2rem;
  margin: 8rem auto 2rem;
  width: fit-content;
}
.section-prefooter .btn-block {
  position: relative;
}
.section-prefooter .btn-block .btn-prefooter {
  border: none;
  margin-top: 7rem;
  width: 17rem;
}
.section-prefooter .btn-block .prefooter-btn-sparkle {
  position: absolute;
  top: 3.5rem;
  right: -3.5rem;
}
.section-prefooter .btn-block .prefooter-icon-block {
  display: flex;
  justify-content: center;
}
.section-prefooter .btn-block .prefooter-icon-block .prefooter-icon {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  transition: all 0.2s ease-in-out;
}
.section-prefooter .btn-block .prefooter-icon-block .prefooter-icon:hover {
  transform: scale(1.2);
}

.footer {
  padding: 5rem 5rem 5rem;
  width: 100%;
  border-top: 0.1rem solid #000;
  font-size: 1.2rem;
}
@media (min-width: 992px) {
  .footer {
    padding: 10rem 5rem 10rem;
  }
}
@media (min-width: 992px) {
  .footer-top {
    display: flex;
    justify-content: space-between;
  }
}
.footer-top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .footer-top-left {
    width: 35%;
    padding: 0 2rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.footer-top-left-logo {
  display: flex;
  align-items: flex-end;
}
.footer-top-left-logo a img {
  width: 7.4rem;
  height: 7.4rem;
}
.footer-top-left-logo span {
  margin-left: 2rem;
}
.footer-top-left-text {
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 992px) {
  .footer-top-left-text {
    text-align: left;
  }
}
.footer-top-left .some {
  margin-bottom: 2rem;
}
.footer-top-left .some a i {
  font-size: 2.25rem;
  margin: 1rem;
  color: #000;
  transition: all 0.2s;
}
.footer-top-left .some a i:hover {
  color: #cd4631;
  transform: scale(1.2);
}
.footer-top-menu {
  text-align: center;
  margin: 1.5rem 0 5rem;
}
@media (min-width: 992px) {
  .footer-top-menu {
    width: 30%;
    display: flex;
    margin: 0;
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  .footer-top-menu .footer-menu1,
.footer-top-menu .footer-menu2 {
    width: 50%;
    padding: 0 2rem;
  }
}
.footer-top-menu .footer-menu1-list,
.footer-top-menu .footer-menu2-list {
  margin: 0;
  padding: 0;
}
.footer-top-menu .footer-menu1-list-item,
.footer-top-menu .footer-menu2-list-item {
  padding-bottom: 0.5rem;
  list-style: none;
  transition: all 0.2s;
}
.footer-top-menu .footer-menu1-list-item:hover,
.footer-top-menu .footer-menu2-list-item:hover {
  transform: scale(1.2);
}
@media (min-width: 992px) {
  .footer-top-menu .footer-menu1-list-item,
.footer-top-menu .footer-menu2-list-item {
    padding-bottom: 1.5rem;
  }
}
.footer-top-menu .footer-menu1-list-item-link,
.footer-top-menu .footer-menu2-list-item-link {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}
.footer-top-menu .footer-menu1-list-item-link:hover,
.footer-top-menu .footer-menu2-list-item-link:hover {
  color: #cd4631;
  font-weight: 500;
  /* transform: scale(200%); */
}
.footer-top-right {
  text-align: center;
}
@media (min-width: 992px) {
  .footer-top-right {
    text-align: left;
    width: 35%;
    padding: 0 0 0 2rem;
  }
}
.footer-top-right .platforms {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0 3rem;
}
@media (min-width: 576px) {
  .footer-top-right .platforms {
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  .footer-top-right .platforms {
    justify-content: flex-start;
    margin-bottom: 5rem;
  }
}
.footer-top-right .platforms img {
  height: 2.2rem;
  width: auto;
  transition: all 0.2s;
}
.footer-top-right .platforms img:hover {
  transform: scale(1.1);
}
@media (min-width: 992px) {
  .footer-top-right .platforms img {
    margin-right: 1rem;
    height: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .footer-top-right .platforms img {
    margin-right: 2rem;
    height: 2.2rem;
  }
}
.footer-top-right .markets {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 3rem;
}
@media (min-width: 992px) {
  .footer-top-right .markets {
    justify-content: flex-start;
  }
}
.footer-top-right .markets img {
  height: 2.2rem;
  width: auto;
  margin: 0 2rem;
  transition: all 0.2s;
}
.footer-top-right .markets img:hover {
  transform: scale(1.2);
}
@media (min-width: 992px) {
  .footer-top-right .markets img {
    margin: 0 2rem 0 0;
    height: 3rem;
    width: auto;
  }
}
.footer-bottom {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-bottom-left-red {
  color: #cd4631;
}
.footer-bottom-right a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}
.footer-bottom-right a:hover {
  text-decoration: underline;
  color: #cd4631;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  min-width: 375px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/*# sourceMappingURL=main.css.map */
