/* Navbar */
.header {
  background-color: #f7ede8;
  padding: 1rem;
  width: 100%;
  position: relative;
}

.navbar .nav-left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-left .nav-logo {
  width: 7.5rem;
  height: 7.5rem;
}

.menu-list {
  display: flex;
  padding: 0;
}
.menu-link {
  color: #000;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 3rem;
  text-decoration: none;
  transition: all 0.2s;
}
.menu-link:hover {
  color: #cd4631;
}

.nav-right {
  display: none;
}
@media (min-width: 992px) {
  .nav-right {
    display: flex;
  }
}
.nav-right .btn-recent {
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border: 0.15rem solid #000;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-right: 10px;
  transition: all 0.2s;
}
.nav-right .btn-recent:hover {
  background-color: #000;
  color: #fff;
}

.btn-subscribe {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: 0.25rem 0.25rem #b9b2ae;
  transition: all 0.3s;
}
.btn-subscribe:hover {
  background-color: #cd4631;
  color: #fff;
  border-color: #cd4631;
  box-shadow: none;
  transform: translateY(0.1rem) translateX(0.1rem);
}

/* Header */
.header-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-text-content .header-title {
  font-weight: bold;
  font-size: 3.65rem;
}
@media (min-width: 1200px) {
  .header-text-content .header-title {
    font-size: 6rem;
  }
}
.header-text-content .header-title-red {
  color: #cd4631;
}

.btn-header, .btn-episodes, .btn-section-three {
  width: 15rem;
  height: 4rem;
  font-size: 1.4rem;
  box-shadow: 0.25rem 0.25rem #b9b2ae;
  background-color: #000;
  border-radius: 0.5rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  align-self: center;
  margin: 3rem 0;
}
@media (min-width: 1200px) {
  .btn-header, .btn-episodes, .btn-section-three {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }
}
.btn-header:hover, .btn-episodes:hover, .btn-section-three:hover {
  background-color: #cd4631;
  border-color: #cd4631;
  color: #fff;
  box-shadow: none;
  transform: translateY(0.1rem) translateX(0.1rem);
}

.header-undertitle, .section-episodes-undertitle, .section-three-undertitle, .section-two-undertitle, .section-one-text {
  font-size: 1.2rem;
  width: 70%;
}
@media (min-width: 1200px) {
  .header-undertitle, .section-episodes-undertitle, .section-three-undertitle, .section-two-undertitle, .section-one-text {
    font-size: 1.6rem;
  }
}

/* Swirls */
.heroSwirl-left {
  position: absolute;
  top: 10rem;
  left: 0;
  width: 8rem;
  height: auto;
}

.heroSwirl-right {
  position: absolute;
  top: 20rem;
  right: 2%;
  width: 7rem;
  height: auto;
}

.heroSwirl-bottom {
  position: absolute;
  height: 8rem;
  bottom: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Cards wrapper */
.cards-wrapper {
  display: flex;
  overflow: scroll;
  margin: 2rem auto 6rem;
  user-select: none;
}
.cards-wrapper .header-card {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin-right: 1rem;
}
@media (min-width: 992px) {
  .cards-wrapper .header-card {
    width: 23rem;
    height: 23rem;
  }
}
@media (min-width: 1200px) {
  .cards-wrapper .header-card {
    width: 32rem;
    height: 32rem;
  }
}
.cards-wrapper .header-card-img {
  width: 15rem;
  height: 15rem;
}
@media (min-width: 992px) {
  .cards-wrapper .header-card-img {
    width: 23rem;
    height: 23rem;
  }
}
@media (min-width: 1200px) {
  .cards-wrapper .header-card-img {
    width: 32rem;
    height: 32rem;
  }
}
.cards-wrapper .header-card-platform {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
.cards-wrapper .header-card-platform i {
  color: #fff;
  padding-left: 0.5rem;
}
@media (min-width: 992px) {
  .cards-wrapper .header-card-platform i {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .cards-wrapper .header-card-platform i {
    font-size: 2.25rem;
  }
}
.cards-wrapper .header-card-platform i:hover {
  color: #81adc8;
}
.cards-wrapper .header-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #81adc8;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
@media (min-width: 992px) {
  .cards-wrapper .header-card-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .cards-wrapper .header-card-title {
    font-size: 2.25rem;
  }
}

/* supported */
.supported {
  max-width: 100rem;
  border-top: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  margin: 5rem auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.supported-title {
  font-weight: bold;
  font-size: 2.25rem;
}
.supported-firm {
  padding-right: 6rem;
}
@media (min-width: 992px) {
  .supported {
    display: flex;
  }
}

.section-one {
  width: 100%;
  position: relative;
  padding: 0 2rem 5rem;
}
@media (min-width: 992px) {
  .section-one {
    padding: 0 5rem 5 rem;
  }
}
.section-one-title, .section-episodes-title, .section-three-title, .section-two-title {
  font-size: 2.25rem;
  padding: 6rem 0 2rem;
  margin: 0 auto;
  font-weight: bold;
  max-width: 50rem;
}
@media (min-width: 992px) {
  .section-one-title, .section-episodes-title, .section-three-title, .section-two-title {
    font-size: 3.65rem;
  }
}
.section-one-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .section-one-wrapper {
    flex-direction: row;
    margin-bottom: 5rem;
  }
}
.section-one-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-one-img {
  width: 20rem;
  height: 20rem;
  margin: 2rem 0;
}
/* quote */
.quote {
  margin: 3rem 10%;
  width: 80%;
  padding-bottom: 4rem;
  background-color: #f7ede8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.quote-sign {
  color: #cd4631;
  font-size: 3.65rem;
  padding: 2rem 0;
}
.quote-text {
  font-weight: bold;
  font-size: 1.6rem;
  width: 80%;
}
@media (min-width: 992px) {
  .quote-text {
    font-size: 2.25rem;
  }
}
.quote-author {
  justify-content: center;
  padding: 1.5rem 0;
}
@media (min-width: 992px) {
  .quote-author {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.quote-author .quote-avatar-box, .quote-author .quote-job-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .quote-author .quote-avatar-box, .quote-author .quote-job-box {
    flex-direction: row;
    height: 5rem;
  }
}
.quote-img {
  width: 5rem;
  height: 5rem;
}
.quote-job-img {
  width: 2rem;
  height: 2rem;
}
.quote-name {
  font-size: 1.2rem;
  margin: 0.5rem;
}
.quote-swirl-left {
  position: absolute;
  bottom: -1rem;
  left: -4rem;
  width: 8rem;
  height: auto;
}
.quote-swirl-right {
  position: absolute;
  top: -3rem;
  right: -2rem;
  width: 8rem;
  height: auto;
}
.quote-swirl-bottom, .feedback-swirl-bottom {
  position: absolute;
  bottom: -4rem;
  height: 8rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.section-two {
  background-color: #edf3f7;
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .section-two {
    padding: 0 5rem 5rem;
  }
}
.section-two-header {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.section-two-undertitle {
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.section-two .red-sparkle {
  position: absolute;
  top: 2rem;
  left: -2rem;
  width: 5rem;
  height: 5rem;
}
@media (min-width: 992px) {
  .section-two .red-sparkle {
    width: 10rem;
    height: 10rem;
    top: 2rem;
    left: -4rem;
  }
}

.feedback-wrapper {
  width: 100%;
  height: fit-content;
}
@media (min-width: 1200px) {
  .feedback-wrapper {
    width: 70%;
  }
}
.feedback-wrapper .feedback-box {
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
}
.feedback-wrapper .feedback-box .quote-sign {
  margin-left: 10%;
}
.feedback-wrapper .feedback-box .feedback-text, .feedback-wrapper .feedback-box .feedback-author {
  width: 80%;
  margin: 1rem auto 2rem;
  font-size: 1.4rem;
}
@media (min-width: 992px) {
  .feedback-wrapper .feedback-box .feedback-text, .feedback-wrapper .feedback-box .feedback-author {
    font-size: 2.25rem;
  }
}
.feedback-wrapper .feedback-box .feedback-author {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
@media (min-width: 768px) {
  .feedback-wrapper .feedback-box .feedback-author {
    flex-direction: row;
    justify-content: center;
  }
}
.feedback-wrapper .feedback-box .name-box, .feedback-wrapper .feedback-box .job-box {
  display: flex;
  align-items: center;
}

.prev-feedback, .next-feedback {
  height: 5rem;
  width: 5rem;
  border: 0.2rem solid #000;
  border-radius: 50%;
  margin: 5rem;
  transition: all 0.2s;
}
.prev-feedback:hover, .next-feedback:hover {
  color: #cd4631;
  border-color: #cd4631;
}

.swiper-slide {
  height: fit-content;
}

.swiper-button-prev,
.swiper-button-next {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #000;
  padding: 1.5rem;
  border-radius: 50%;
  transition: all 0.2s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border-color: #cd4631;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000;
  font-size: 1.6rem;
}

.section-three {
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .section-three {
    padding: 0 5rem 5rem;
  }
}
.section-three-header {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.section-three-undertitle {
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.section-three .black-scribble {
  position: absolute;
  top: -1rem;
  right: -6rem;
  width: 10rem;
  height: 10rem;
}

.benefits-wrapper {
  width: 80%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 2.5rem;
}

.benefit-title {
  font-weight: bold;
  font-size: 1.6rem;
}

.benefit-text {
  font-size: 1.4rem;
}

.sec-three-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-episodes {
  padding: 0 2rem 5rem;
  width: 100%;
  position: relative;
  background-color: #f7ede8;
  margin: 4rem auto;
}
@media (min-width: 992px) {
  .section-episodes {
    padding: 0 5rem 5rem;
  }
}
.section-episodes-undertitle {
  text-align: center;
  margin: 0 auto;
}

.episodes-wrapper-card {
  /* width: 100%; */
  height: fit-content;
  border: 0.15rem solid #000;
  border-radius: 1rem;
  background-color: #fff;
  padding: 3rem;
  margin-top: 2rem;
  margin-left: 2rem;
}
.episodes-wrapper-card .card-left img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.episodes-wrapper-card .card-left .key-words-box {
  display: flex;
}
.episodes-wrapper-card .card-left .key-words-box p {
  font-size: 1.2rem;
  border: 0.1rem solid #4d4d4d;
  border-radius: 0.4rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.episodes-wrapper-card .card-right .text-wrapper .card-subtitle {
  color: #cd4631;
  font-weight: bold;
  font-size: 1.6rem;
}
.episodes-wrapper-card .card-right .text-wrapper .card-title {
  font-weight: bold;
  font-size: 2.25rem;
  margin: 0.5rem 0 1.5rem;
}
.episodes-wrapper-card .card-right .text-wrapper .card-text {
  font-size: 1.4rem;
}
.episodes-wrapper-card .card-right .hostedBy {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.episodes-wrapper-card .card-right .hostedBy .hosted-text {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 1rem 0 0;
}
.episodes-wrapper-card .card-right .hostedBy .avatar-box img:nth-child(2) {
  border: 0.4rem solid #fff;
  border-radius: 50%;
  margin-left: -1rem;
}

.btn-episodes {
  padding: 0 2rem;
  width: fit-content;
  margin: 6rem auto 3rem;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  min-width: 375px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/*# sourceMappingURL=main.css.map */
