@import 'base';
@import 'index/header';
@import 'index/sectionQuote';
@import 'index/sectionFeedback';
@import 'index/sectionMembership';
@import 'index/sectionEpisodes';
@import 'index/sectionSponsor';
@import 'index/sectionArticles';

body{
    font-family: 'Montserrat Alternates', sans-serif;
    min-width: 375px;
    margin: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
