/* Navbar */
.header{
    background-color: color(col-beige);
    padding: 1rem;
    width: 100%;
    position: relative
}
.navbar{

    .nav-left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-logo{
            width: 7.5rem;
            height: 7.5rem;
        }
    }
}

.menu{
    &-list{
        display: flex;
        padding: 0;
    }
    &-link{
        color: color(col-black);
        font-weight:bold;
        font-size: size(sm);
        margin-left: 3rem;
        text-decoration: none;
        transition: all .2s;
        &:hover{
            color: color(col-red);
        }
    }
}
.nav-right{
    display: none;
    @include response(lg){
        display: flex;
    }
    .btn-recent{
        font-weight: bold;
        font-size: size(md);
        text-transform: uppercase;
        text-decoration: none;
        color: color(col-black);
        border: .15rem solid color(col-black);
        border-radius: .3rem;
        padding: .5rem;
        margin-right: 10px;
        transition: all .2s;
        &:hover{
            background-color: color(col-black);
            color: #fff;
        }
    }
}
.btn-subscribe{
    font-weight: bold;
    color: #fff;
    background-color: color(col-black);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .3rem;
    padding: 1rem;
    font-size: size(xs);
    box-shadow: .25rem .25rem color(col-grey);
    transition: all .3s;
    &:hover{
        background-color: color(col-red);
        color: #fff;
        border-color: color(col-red);
        box-shadow: none;
        transform: translateY(.1rem) translateX(.1rem);
    }

}
/* Header */
.header-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-title{
        font-weight: bold;
        font-size: size(xl);

        @include response (xl){
            font-size: size(xxl);
        }
        &-red{
            color: color(col-red);
        }

    }
   
}
.btn-header{
    width: 15rem;
    height: 4rem;
    font-size: size(sm);
    box-shadow: .25rem .25rem color(col-grey);
    background-color: color(col-black);
    border-radius: .5rem;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    align-self: center;
    margin: 3rem 0;
    @include response (xl) {
        width: 20rem;
        height: 5rem;
        font-size: size(md);
    }

    &:hover {
        background-color: color(col-red);
        border-color: color(col-red);
        color: #fff;
        box-shadow: none;
        transform: translateY(.1rem) translateX(.1rem);
    }
}
.header-undertitle{
    font-size: size(xs);
    width: 70%;
    @include response (xl) {
        font-size: size(md);
    }
}
/* Swirls */
.heroSwirl-left{
    position: absolute;
    top: 10rem;
    left: 0;
    width: 8rem;
    height: auto;
}
.heroSwirl-right{
    position: absolute;
    top: 20rem;
    right: 2%;
    width: 7rem;
    height: auto;
}
.heroSwirl-bottom{
    position: absolute;
    height: 8rem;
    bottom: -4rem;
    left: 50%;
    transform: translate(-50%, 0);
}
/* Cards wrapper */
.cards-wrapper{
    display: flex;
    overflow: scroll;
    margin: 2rem auto 6rem;
    user-select: none;
    .header-card{
        position: relative;
        width: 15rem;
        height:15rem;
        margin-right: 1rem;

        @include response(lg){
            width: 23rem;
            height: 23rem;
        }
        @include response(xl){
            width: 32rem;
            height: 32rem;
        }
        
        &-img{
            width: 15rem;
            height:15rem;
            @include response(lg) {
                width: 23rem;
                height: 23rem;
            }
            @include response(xl) {
                width: 32rem;
                height: 32rem;
            }

        }
        &-platform{
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            i{
                color: #fff;
                padding-left: .5rem;
                @include response(lg){
                    font-size: size(md);
                }
                @include response(xl){
                    font-size: size(lg);
                }
                &:hover{
                    color: color(col-blue);
                }
            }
        }
        &-title{
            position: absolute;
            bottom: 0;
            left: 0;
            color: color(col-blue);
            font-weight: bold;
            font-size: size(sm);
            margin-left: .5rem;

            @include response(lg) {
                font-size: size(md);
            }
            @include response(xl) {
                font-size: size(lg);
            }
        }
    }
}
/* supported */
.supported{
    max-width: 100rem;
    border-top: .1rem solid color(col-black);
    border-bottom: .1rem solid color(col-black);
    margin: 5rem auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title{
        font-weight:bold ;
        font-size: size(lg);
    }
    &-firm{
        padding-right: 6rem;
    }
    display: none;
        @include response(lg) {
            display: flex;
        }

}